$white: #fff;
$black: #000;

$text-gray: #2c3e50;
$text-gray-light: lighten($text-gray, 10%);

$blue-header: #0596d8;
$blue-bg: #3c8dbc;

$gray-github-code-bg: #f6f8fa;
$gray-sidebar: #222d30;
$gray-sidebar-active: #1e282c;
$gray-bar-chart: #9a9898;

$green-bg: #1ba65a;
$red-bg: #dd4b3a;

:root {
  --red-bg: $red-bg;
}
